<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{{title}}</title>
  </head>
  <body>
      {{>header}}
      {{#if edit}}
      <form action="Edit user">
          <label for="name">Name:</label>
          <br>
          <input name="name" name="name" id="name" value="{{name}}">
          <br>
          <label for="email">Email:</label
          ><br>
          <input type="email" name="email" id="email" value="{{email}}">
          <br>
          <label for="password">Password:</label>
          <br>
          <input type="password" name="password" id="password">
          <br>
          <button>Edit</button>
      </form>
      {{/if}}
      {{#if status}}
      <p>Name: {{name}}</p>
      <p>Email: {{email}}</p>
      <p>Token: {{token}}</p>
      {{/if}}
      {{>footer}}
  </body>
</html>